body {
    height: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 10px 10px rgb(198, 198, 198);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    font-size: 20px;
    font-family: poppins;
    align-self: center;
    color: rgb(6, 75, 6);
}

.title{
    font-size: 100px;
    font-family: poppins;
}

.highlight{
    background: linear-gradient(to top, #fcd5ce 40%, transparent 40%);
}

.text1{
    padding-bottom: 5px;
}

.text2{
    padding-bottom: 5px;
}

.text3{
    padding-bottom: 5px;
}

.text1:hover{
    border-bottom: 5px solid burlywood;
    padding-bottom: 0px;
}

.text2:hover{
    border-bottom: 5px solid burlywood;
    padding-bottom: 0px;
}

.text3:hover{
    border-bottom: 5px solid burlywood;
    padding-bottom: 0px;
}

.logo{
    margin-left: 30px;
}

.browse{
    margin-right: 30px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(5, 54, 5);
    color: white;
}

.menu{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position:absolute;
    opacity: 0;
}

.part1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 60px;
    font-family: nunito;
    color: rgb(6, 75, 6);
    margin: 50px 0px 0px 0px;
}

.description{
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 75, 6);
    margin-top: 5px;
    width: 590px;
}

.button{
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(5, 54, 5);
    color: white;
}

.image{
    margin-top: 50px;
    height: 500px;
    width: 900px;
    border-radius: 20px;
    border: 10px solid whitesmoke;
}

.title2{
    text-align: center;
    font-size: 40px;
    font-family: nunito;
    color: rgb(5, 65, 5);
    margin: 65px 0px 0px 0px;
}

.subtitles{
    display: flex;
    justify-content: center;
}

.icon1, .icon2, .icon3{
    margin: 50px 50px 0px 0px;
    height: 75px;
    width: 75px;
}

.subtitle1, .subtitle2, .subtitle3{
    color: rgb(6, 75, 6);
    font-family: nunito;
    font-size: 30px;
}

.text4{
    font-size: 20px;
    color: rgb(6, 75, 6);
    width: 350px;
    margin-top: 10px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.part3{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

.text-section{
    display: flex;
    flex-direction: column;
    width: 530px;
    margin-right: 50px;
}

.title3{
    font-size: 40px;
    font-family: nunito;
    color: rgb(6, 73, 6);
}

.text5{
    font-size: 20px;
    color: rgb(6, 75, 6);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.image2{
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border: 10px solid whitesmoke;
}

.part4{
    display: flex;
    justify-content: center;
}

.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 80%;
    height: 300px;
    background-color: rgb(234, 243, 238);
    justify-content: center;
}

.title4{
    font-size: 40px;
    font-family: nunito;
    color: rgb(6, 73, 6);
    margin-bottom: 0px;
}

.text6{
    font-size: 20px;
    color: rgb(6, 74, 6);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.button2{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(5, 54, 5);
    color: white;
}

.icon4{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 1200px;
}

.icon5{
    width: 200px;
    height: 300px;
    position: absolute;
    left: 1200px;
}

.footer{
    margin-top: auto;       
    display: flex;
    justify-content: space-between;    
    padding-top: 50px;
}

.redes{
    margin: 0px 120px 50px 120px;
    height: 40px;
}

.redes2{
    margin: 0px 120px 50px 120px;
    width: 165px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        height: auto;
        padding: 10px;
        justify-content: space-between;
    }

    .options {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        font-size: 18px;
        margin-top: 10px;
        position:absolute;
        opacity: 0;
    }

    .browse {
        margin: 15px 0;
        width: 150px;
        font-size: 18px;
        position:absolute;
        opacity: 0;
    }

    .menu{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    opacity: 1;
    position: static;
}

.part1{
    align-items: start;
}

    .button{
        margin-left: 30px;
        width: 200px;
        height: 70px;
    }


.part2{
    display: flex;
    flex-wrap: wrap;
}

    .title {
        text-align: start;
        margin: 30px 0 0 0;
        margin-left: 30px;
    }

    .description {
        width: 90%;
        text-align: start;
        margin-left: 30px;
    }

    .image {
        width: 83%;
        height: auto;
        margin-top: 30px;
        margin-left:30px
    }

    .title2 {
        text-align: start;
        margin-left: 30px;
    }

    .subtitles {
        flex-direction: column;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 30px;
    }

    .subtitle1, .subtitle2, .subtitle3 {
        text-align: start;
        margin-left: 30px;
    }

    .text4 {
        width: 90%;
        margin-right: 0;
        text-align: start;
        margin-left: 30px;
    }

    .part3 {
        flex-direction: column;
        text-align: center;
    }

    .text-section {
        width: 90%;
        margin: 0 0 30px 0;
        text-align: start;
    }

    .image2 {
        width: 83%;
        height: auto;
    }

    .overlay {
        width: 80%;
        height: auto;
        padding: 20px;
        border-radius: 10px;
    }

    .title4 {
        font-size: 30px;
        text-align: center;
    }

    .text6 {
        font-size: 18px;
        text-align: center;
    }

        .footer{
        flex-direction: column-reverse;
        align-items: center;
    }

    .redes{
        margin: 0%;
    }

    .redes2{
        margin: 0%;
    }
}

@media (max-width: 480px) {
    .button2, .browse {
        width: 50%;
    }

    .icon4, .icon5{
        position:absolute;
        opacity: 0;
    }

    .footer{
        flex-direction: column-reverse;
        align-items: center;
    }

    .redes{
        margin: 0%;
    }

    .redes2{
        margin: 0%;
    }
}

@media (max-width: 1024px)and (min-width: 769px) {
    .image{
        margin: 0;
    }

    .description {
        font-size: 25px;
    }

    .subtitles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .subtitle1, .subtitle2, .subtitle3 {
        font-size: 30px;
        flex: 1 1 250px;   
        max-width: 300px; 
        padding: 20px;
    }

    .text4 {
        font-size: 25px;
    }

    .text-section{
        margin-left: 20px;
    }

    .title3 {
        font-size: 40px;
    }

    .text5 {
        font-size: 25px;
    }

    .overlay{
        border-radius: 10px;
    }

    .title4 {
        font-size: 40px;
    }

    .text6 {
        font-size: 25px;
    }

    .button2{
        font-size: 25px;
    }
}